<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Моя библиотека</title>
    <link rel="stylesheet" href="../static/font-awesome/css/all.min.css">
     <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <!-- Основной интерфейс после авторизации -->
    <div class="app-container" id="app-interface">
        <!-- Шапка -->
        <header class="app-header">
            <div class="header-content">
                <div class="logo">
                    <i class="fas fa-book-open"></i>
                    <h1>Моя библиотека</h1>
                </div>
                <nav class="main-nav">
                    <ul>
                        <li class="active"><a href="/"><i class="fas fa-home"></i> Главная</a></li>
                        <li><a href="/add_new_film/"><i class="fas fa-plus"></i> Добавить книгу</a></li>
                        <li><a href="/auth/" id="logout-btn"><i class="fas fa-sign-out-alt"></i>Выход</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <!-- Основное содержимое -->
        <main class="main-content">
            <div class="container">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>Редактирование книги: {{ name }}</h2>
                    </div>
                    <div class="modal-body">
                        <form id="book-form" action='' method='post' content="multiply" enctype="multipart/form-data">
                            <div class="form-row">
                                <div class="form-group error">
                                    <label for="book-title">Название книги*</label>
                                    <input type="text" id="book-title" placeholder="Введите название книги" name='name' value="{{name}}" style="border: 1px solid {{error_name.0}}" required>

                                    <span class="error-message" style="display: {{error_name.1}};">Поле обязательно для заполнения (макс. 100 символов)</span>
                                </div>
                                <div class="form-group">
                                    <label for="book-author">Автор*</label>
                                    <input type="text" id="book-author" placeholder="Введите автора" value="{{author}}" name='author' style="border: 1px solid {{error_author.0}}" required>

                                    <span class="error-message" style="display: {{error_author.1}};">Поле обязательно для заполнения (макс. 100 символов)</span>

                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group">
                                    <label for="book-genre">Жанр*</label>
                                    <select id="book-genre" name='genre' style="border: 1px solid #ddd" required>
                                        <option value="0">Фантастика</option>
                                        <option value="1">Классика</option>
                                        <option value="2">Детектив</option>
                                        <option value="3">Роман</option>
                                        <option value="4">Научная литература</option>
                                        <option value="5">Биография</option>
                                    </select>

                                </div>
                                <div class="form-group">
                                    <label for="book-year">Год издания*</label>
                                    <input type="number" id="book-year" placeholder="Год издания" name='year_of_publication' value="{{ year }}" style="border: 1px solid {{error_year.0}}" required>
                                    <span class="error-message" style="display: {{error_year.1}};">Введите корректный год (1800-текущий)</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="book-description">Описание</label>
                                <textarea id="book-description" rows="4" placeholder="Краткое описание книги (до 500 символов)" name='description'  style="border: 1px solid {{ description_error.0 }}">{{ desk }}</textarea>


                                <span class="error-message" style="display: {{ description_error.1 }};">Максимальная длина описания 500 символов</span>


                            </div>

                            <div class="form-group">
                                <label >Обложка книги</label>
                                <div class="cover-upload">
                                    <div class="cover-preview">
                                        <img id="cover-preview" src="img/test.jpg" alt="Предпросмотр обложки" >
                                    </div>
                                    <div class="upload-controls">

                                        <label class="btn btn-secondary error" ><i class="fas fa-upload"></i>
                                            <input type="file" id="cover" name='cover' value='cover'> Загрузить изображение
                                            <span class="error-message" style="display: {{error_load}};">Поддерживаются только JPG изображения</span>

                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-actions">
                                <button type="button" class="btn btn-secondary" id="cancel-btn">Отмена</button>
                                <button type="submit" class="btn btn-primary">Сохранить</button>
                            </div>
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
            </div>
        </main>

    </div>
</body>
</html>