:root{
    --main-font-color: black;

}
.title{
    font-size: 24px;
    font-weight: 600;
    color: var(--main-font-color);
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 60px;
    height: auto;

}
nav{

}
.nav-element{
    font-size: 24px;
    color: var(--main-font-color);
    text-decoration: none;
    padding: 10px;
    letter-spacing: 0.5px;

}
main{
    margin: 10px;
}
.slider{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.slider-image{
    background-image: url('../media/img/excursions/image.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 60%;
    height: 300px;
    border: 1px;
    border-radius: 10px;
}
.slider-content{
    width: 60%;
    height: auto;

}
.slider-point{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    letter-spacing: 10px;
    color: gray;
}
.active{
    color: var(--main-font-color);
}
.point{
    font-size: 30px;
}
