<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Книга-Моя библиотека</title>
    <link rel="stylesheet" href="../static/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <!-- Основной интерфейс после авторизации -->
    <div class="app-container" id="app-interface">
        <!-- Шапка -->
        <header class="app-header">
            <div class="header-content">
                <div class="logo">
                    <i class="fas fa-book-open"></i>
                    <h1>Моя библиотека</h1>
                </div>
                <nav class="main-nav">
                    <ul>
                        <li class="active"><a href="books.php"><i class="fas fa-home"></i> Главная</a></li>
                        <li><a href="add_book.php"><i class="fas fa-plus"></i> Добавить книгу</a></li>
                        <li><a href="../php/logout.php" id="logout-btn"><i class="fas fa-sign-out-alt"></i>Выход</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <!-- Основное содержимое -->
        <main class="main-content">
            <div class="container">
                <div class="modal-content book-view-content">
                    <div class="modal-header">
                        <h2>{{ name }}</h2>
                    </div>
                    <div class="modal-body">
                        <div class="book-view-container">
                            <div class="book-view-cover">
                                <img src="{{ img }}" alt="Обложка книги">
                            </div>
                            <div class="book-view-details">
                                <div class="book-view-meta">
                                    <p><strong>Автор:</strong> <span id="view-author">{{ autor }}</span></p>
                                    <p><strong>Жанр:</strong> <span id="view-genre">{{ genre }}</span></p>
                                    <p><strong>Год издания:</strong> <span id="view-year">{{ year }}</span></p>
                                    <p><strong>Добавлено:</strong> <span id="view-date">12.05.2023</span></p>
                                </div>
                                <div class="book-view-description">
<!--                                    <h3>Описание</h3>-->
                                    <p >{{ desk }}</p>
                                </div>
                                <div class="book-view-actions">
                                    <a href="/edit_book/{{id}}" class="btn btn-primary"><i class="fas fa-edit"></i> Редактировать</a>
                                    <a href="/delete_book/{{id}}" class="btn btn-danger"><i class="fas fa-trash"></i> Удалить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>